<div id="about">
    <div class="title">
        <h2>About Me</h2>
        <h3>My introduction</h3>
    </div>
    <div class="row">
        <div class="left">
            <img src="/assets/Ellipse 49.png" alt="My picture">
        </div>
        <div class="right">
            <p class="description">Web developer, with extensive knowledge and years of 
            experience, working in web technologies and Ui/Ux design, delivering wuality work.
            </p>
            <div class="row items">
                <div class="item">
                    <h3>08+</h3>
                    <p>Years<br>experience</p>
                </div>
                <div class="item">
                    <h3>20+</h3>
                    <p>Completed<br>projects</p>
                </div>
                <div class="item">
                    <h3>05+</h3>
                    <p>Comapnies<br>worked</p>
                </div>
            </div>
            <a href="/src/assets/Jakub-Pęcak.pdf" download="Jakub-Pęcak.pdf">
                Download CV <i class="fas fa-download"></i>
            </a>
        </div>
    </div>
</div>
