<div id="home">
    <div class="socials col">
        <a href="https://facebook.com" target="_blank"><i class="fab fa-facebook-f"></i></a>
        <a href="https://linkedin.com" target="_blank"><i class="fab fa-linkedin-in"></i></a>
        <a href="https://github.com/" target="_blank"><i class="fab fa-github"></i></a>
    </div>
    <div class="start-content">
        <h1>Hi, I'am Kuba</h1>
        <h2>Frontend developer</h2>
        <p>High level experience in web design and development knowledge, producing and quality work.</p>
        <button mat-raised-button color="primary">Contact Me</button>
        <a href="#about" class="scroll-down">Scroll down <i class="fas fa-angle-down"></i></a>
    </div>
    <div class="my-picture">
        <img src="/assets/Ellipse 49.png" alt="My picture">
    </div>
</div>
